@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration des icônes */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

/* Ton effet de lueur EXACT */
.glow-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  /* J'ai ajusté légèrement l'opacité ici pour qu'on le voie bien sur le vert */
  background: radial-gradient(circle, rgba(238, 238, 226, 0.2) 0%, rgba(238, 238, 226, 0) 60%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

body {
  background-color: #7C8777; /* Sage */
  color: #EEEEE2; /* Cream */
}